@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+10+Charted&display=swap');
body{
    font-family: "Jersey 10", sans-serif;
}
.crab-start{
    font-size: xx-large;
    background-color: black;
    color: cornflowerblue;
    padding: 10px;
    display: flex;
    flex-direction:column;
}
.mnuBtn{
    background-color:rgb(106, 106, 106);    
    text-decoration: none;
    padding: 1em 2em;
    width: 20%;
    height: 5.6em;
    color: white;
}
.menuButton{
    background-color: red;
    display: flex;
    flex-direction:column;
}
.body{
    background-color: black;
    display:flex;
}
.copyright{
    
}