@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+10+Charted&display=swap');


body{
    font-family: "Jersey 10", sans-serif    ;
    margin: 2em;
    background-color: beige;
}
#graphic{
    display: flex;
    justify-content: center;
    color: red;
}
#options{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 2em;
    width: 20%;

}
.mnuBtn{
    text-decoration: none;
    color: grey;
    font-family: "Jersey 10", sans-serif;
}

button{
    border-color: blue;
}

